<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/styles/site/style.css" />
    <link rel="stylesheet" href="assets/styles/site/navbar.css" />
    <link rel="stylesheet" href="assets/styles/site/sidebar.css" />
    <script type="text/javascript" src="assets/js/navbar.js"></script>
    <link rel="icon" href="/assets/images/Graphicmismatchlogo.svg" />
<script type="text/javascript" src="assets/js/site/navigation.js"></script>
    <title>Document</title>
  </head>
  <nav class="navbar"></nav>
  <nav class="sidebar"></nav>
  <body></body>
</html>
