*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'GameFont';
    src: url('../../game.ttf');
}
@font-face {
    font-family: 'Cascadia Code';
    src: url('../../CascadiaMono.ttf');
}
body{
    min-height: 100vh;
    background:  rgba(0, 0, 0, 0) url("../../images/background.png") no-repeat fixed center center / cover;
    font-family: 'GameFont','Cascadia Code', 'Fira Code', 'Source Code Pro', 'Courier New', monospace;
    color: rgb(224, 224, 224);
}


a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: darkgreen;
    background-color: transparent;
    text-decoration: none;
}

.center{
  text-align: center;   
}
      
#textdiv {
  font-family: "GameFont";
  overflow-wrap: break-word;
  writing-mode: horizontal-tb;
}

.content {
     margin: 2rem;
}


