.pagecontainer div{
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 10px 10px 10px 10px;
    width: auto;
    border-radius: 10px;
    display: grid;
    position: relative;
    background-color: rgba(30, 30, 30, 0.3);
    backdrop-filter: blur(10px);
    grid-template-areas:
    "topp topp topp topp"
    "mid1 mid2 mid3"
    "bot bot bot";
    gap: -5px;
    grid-template-columns: 0.5fr auto auto auto;
    grid-template-rows: 70px auto auto;
}
.pagecontent.topp {
    display: flex;
    align-items: center;
    height: 70px;
    column-gap: 20px;
  }
.pagecontainer div.topp{
    grid-area: topp;
}
.pagecontainer div.mid1{
    grid-area: mid1;
}
.pagecontainer div.mid2{
    grid-area: mid2;
}
.pagecontainer div.mid3{
    grid-area: mid3;
}
.pagecontainer div.bot{
    grid-area: bot;
}


.profilepic{
    margin: 0;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid darkgreen;
  }

